* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav {
    display: flex;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    align-items: center;
    top: 0;
}


.nav-link {
    text-decoration: underline;
    color: seashell;
    padding: 20px;
}

#logo {
    height: 50px;
}