* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

nav {
    display: flex;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    align-items: center;
    top: 0;
    background-color: black;
    z-index: 10;
}

label {
    font-weight: bold;
}

.nav-link {
    text-decoration: underline;
    color: seashell;
    padding: 12px;
}

.tea-pic {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.tea {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.location {
    width: 300px;
    background-color: black;
    margin: 20px;
    opacity: 1;
}

.location h3, p {
    padding: 20px;
}

#logo {
    height: 50px;
    margin-left: 10px;
}

#banner {
    margin-top: 69px;
    position: relative;
}

#mission {
    position: absolute;
    width: 1200px;
    z-index: 1;
    top: 100px;
    background-color: black;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 46%;
}

#mission h2,h4 {
    padding: 10px;
}

#tea-of-the-month h2,h4 {
    padding: 10px;
    
}

#teas {
    display: flex;
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

#store-locations {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 600px;
}

#store-locations h2 {
    margin-bottom: 15px;
}

#locations {
    display: flex;
    justify-content: center;
}

#contact {
    margin-top: 10px;
}